<div class="headline">
  <div class="btn noHover"
       [ngClass]="{
          'btn-danger' : !active,
          'btn-success': active
       }"
       style="margin-right: 15px">{{active ? "Eingabe bereit" : "Bitte ins Fenster klicken"}}
  </div>

  <button (click)="resetSession()" class="btn btn-outline-primary"
          style="margin-right: 15px">Neue Session</button>
  <button (click)="loadRecords()" class="btn btn-outline-primary"
          style="margin-right: 15px">Vorherige Session laden</button>
  <label for="input">Input:
    <input #inputField style="width: 10em;" id="input" name="Befund" type="text" [(ngModel)]="recordedText"
           (input)="onInput()" (blur)="onBlur($event)" placeholder="Aufnahme...">
  </label>
  <span style="margin-left:10px;">Session ID: {{sessionID}}</span>
</div>

<div class="main">
  <div class="recording">
    <h2>Aufnahmetext:</h2>
    <div class="output">
      <span>
        {{recordedText}}
      </span>
      <span *ngIf="recordedText.length === 0">Es wurde noch nichts aufgenommen.</span>
    </div>
  </div>
  <div class="files">
    <h2>Aufgenommene Dateien:</h2>
    <div class="output">
      <span *ngIf="records.length === 0">Es sind noch keine Aufnahmen vorhanden</span>
      <ng-container *ngIf="records.length > 0">
        <ul *ngFor="let record of records">
          <li>"{{record.content.substr(0, 100)}}..." vom {{formatDate(record.timestamp)}}
            <button class="btn btn-outline-secondary small-button" (click)="editRecord(record)">Edit</button>
            <button class="btn btn-danger small-button" (click)="deleteRecord(record)">X</button>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
