<div class="headline">
  <div class="btn btn-sm"
       [ngClass]="{
          'btn-danger' : !recording,
          'btn-success': recording
       }"
       style="margin-right: 15px">Aufnahme {{recording ? "An" : "Aus"}}
  </div>
  <button (click)="initSession()" class="btn btn-outline-primary"
          style="margin-right: 15px">Neue Session starten</button>
  <button (click)="fetchRecords()" class="btn btn-outline-primary"
          style="margin-right: 15px">Aufnahmen von vorheriger Session laden</button>
  <label for="input">Input:
    <input #inputField style="width: 10em;" id="input" name="Befund" type="text" [(ngModel)]="recordedText"
           [disabled]="!recording" (input)="onInput()" placeholder="Aufnahme...">
    <!-- <input [(ngModel)]="myInput.twInput" _id="input" name="Befund" type="text" (click)="inputClick()" (input)="onInput($event)" placeholder="Befund eingeben..." size="80"> -->
  </label>
  <span style="margin-left:10px;">Session ID: {{sessionID}}</span>
</div>

<div class="main">
  <div class="recording">
    <h2>Aufnahmetext:</h2>
    <div class="output">
      <span>
        {{recordedText}}
      </span>
      <span *ngIf="recordedText.length === 0">Es wurde noch nichts aufgenommen.</span>
    </div>
  </div>
  <div class="files">
    <h2>Aufgenommene Dateien:</h2>
    <div class="output">
      <span *ngIf="records.length === 0">Es sind noch keine Aufnahmen vorhanden</span>
      <ng-container *ngIf="records.length > 0">
        <ul *ngFor="let file of records">
          <li>"{{file.content.substr(0, 100)}}..." vom {{formatDate(file.timestamp)}}</li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>
