<div class="header">
  <h1>Befundbericht vom {{date}}</h1>
  <button class="btn btn-outline-primary float-right" (click)="loadImages()">Bilder laden</button>
</div>
<div class="output">
<table class="table">
  <tbody>
    <tr>
      <th>Bild</th>
      <th>Aufnahmezeit</th>
      <th>Freitext</th>
      <th>Textbefund</th>
    </tr>
    <ng-container *ngFor="let text of freetext; let i=index">
      <tr>
        <td><img [src]="imgUrls[i]" height="200" alt="Kein Bild gefunden"></td>
        <td class="text">{{timestamps[i]}}</td>
        <td class="text">{{text}}</td>
        <td class="text">{{reports[i]}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>
