<div class="header">
  <h1>Befundbericht vom {{date}}</h1>
  <button class="btn btn-outline-primary float-right" (click)="showImages()">Bilder anzeigen</button>
  <button class="btn btn-outline-success float-right" [disabled]="!loaded" (click)="submitRecords()">Speichern</button>
</div>
<div class="output">
<table class="table">
  <tbody>
    <tr>
      <th>Freeze</th>
      <th>Report</th>
    </tr>
    <ng-container *ngIf="loaded">
      <ng-container *ngFor="let freeze of freezes; let i=index">
        <tr>
          <td><img src="{{baseUrl}}{{freeze.directory}}/{{freeze.filename}}" height="200" alt="Kein Bild gefunden"></td>
          <td class="text">{{getProperRecord(freeze.textID)}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
</div>
