<div class="header">
  <h1>Befundbericht vom {{date}}</h1>
  <button class="btn btn-outline-primary float-right" (click)="getImages()">Freezes laden</button>
  <button class="btn btn-outline-primary float-right" (click)="getAll()">Bilder anzeigen</button>
  <button class="btn btn-outline-primary float-right" disabled (click)="loadImages()">Bilder manuell laden</button>
</div>
<div class="output">
<table class="table">
  <tbody>
    <tr>
      <th>Bild</th>
      <th>Freitext</th>
      <th>Textbefund</th>
    </tr>
    <ng-container *ngIf="freezes.length > 0">
      <ng-container *ngFor="let freeze of freezes; let i=index">
        <tr>
          <td><img src="{{baseUrl}}{{freeze.directory}}/{{freeze.filename}}" height="200" alt="Kein Bild gefunden"></td>
          <td class="text">{{getProperRecord(freeze.textID)}}</td>
          <td class="text"></td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
</div>
