/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
	width: auto;
  min-height: 90%;
	height: auto;
}

body {
  margin: 10px;
}
