$border-color: hsl(200, 70%, 80%);
$background-color: hsl(202, 73%, 96%);

.header {
  padding: 10px;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.output {
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.table {
  width: auto;
}

td.text {
  padding: 5px;
  min-width: 100px;
  max-width: 600px;
  width: auto;
  font-size: 100%;
}

td.image {
  padding: 5px;
  width: 150px;
}

td.qr {
  padding: 5px;
  min-width: 300px;
}

th {
  font-size: 20pt;
  min-width: 250px;
}

button {
  margin-left: 10px;
}

.serial-button {
  margin: 20px;
  width: 260px;
  text-align: center;
}

.invisible-input{
  height: 0;
  width: 0;
}
