<div class="header">
  <h1>Aufnahmeergebnis vom {{date}}</h1>
  <button class="btn btn-outline-primary float-right" (click)="showImages()">Bilder anzeigen</button>
  <button class="btn btn-outline-success float-right" [disabled]="!loaded" (click)="submitRecords()">Speichern</button>


  <button (click)="resetSession()" class="btn btn-outline-primary" style="margin-right: 15px; float: right;">
    Neue Session
  </button>
  <button (click)="loadPreviousSession()" class="btn btn-outline-primary" style="float: right">
    Vorherige Session laden
  </button>
  <!--<span style="margin-right: 10px; float: right; font-size: 50%">Session ID: {{sessionID}}</span>-->
</div>
<div class="output">
  <table class="table">
    <tbody>
    <tr>
      <th>Freeze</th>
      <th>Report</th>
      <th>Aktion</th>
    </tr>
    <ng-container *ngIf="loaded">
      <ng-container *ngFor="let freeze of freezes; let i=index">
        <tr>
          <td class="image"><img src="{{baseUrl}}{{freeze.directory}}/{{freeze.filename}}" height="200"
                                 alt="Kein Bild gefunden"></td>
          <td class="text">{{getRecordContent(freeze.textIDs, "\n\n")}}</td>
          <td>
            <qrcode [qrdata]="getRecordContent(freeze.textIDs, '\n\n')" [allowEmptyString]="true" [width]="300"
                    [errorCorrectionLevel]="'L'"
                    [elementType]="'svg'"></qrcode>
            <button (mouseup)="sendTextToSerial(getRecordContent(freeze.textIDs, '\n\n'))"
                    class="serial-button btn btn-outline-primary">
              Report übertragen
            </button>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
</div>
